<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="" method="post">
        昵称：<input type="text" name="name" placeholder="昵称">
    <br>
    账号：<input type="text" name="user" placeholder="数字"/>
    <br>
        密码：<input type="password" name="passwd" placeholder="数字字符串"/>
    <hr/>
    确认密码：<input type="password" name="passwd2" placeholder="数字字符串"/>
    <hr/>
        <input type="submit" value="注册"/>
    </form>
</body>
</html>